* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 200px;
  width: 200px;
}

audio {
  display: none;
}

.hide {
  display: none;
}

.btn span.icon {
    background: url(pa10.jpg) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
}
.parentbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #000; */
  background-image: linear-gradient(to right top, #d16bce, #d670cb, #db75c9, #df7ac7, #e37fc5, #e67ec5, #e97ec4, #ec7dc4, #f076c5, #f46fc5, #f767c6, #fb5fc6);
}
.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 40s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1500px) rotateY(0deg);
  }

  100% {
    transform: perspective(1500px) rotateY(360deg);
  }
}

.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0009);
}

.box div img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    filter: saturate(0%);
    -webkit-box-reflect: below 0px
      linear-gradient(transparent, transparent, #0004);
    transform: perspective(1500px) rotateY(0deg);
  }

  100% {
    filter: saturate(100%);
    -webkit-box-reflect: below 0px
      linear-gradient(transparent, transparent, #0004);
    transform: perspective(1500px) rotateY(360deg);
  }
}

.alert {
  font: 14px Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 12px lightgray;
}
p {
  margin: 12px;
}
.alert .buttons {
  float: right;
}


/* CSS */
.button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
